:root {
   color-scheme: dark;
}
body {
   @apply bg-black text-yellow overflow-y-scroll min-h-screen;
   font-family: "Gothic A1", sans-serif;
   &::before {
      content: "";
      @apply fixed inset-0 -z-1 pointer-events-none opacity-80;
      background-image: url("http://www.script-tutorials.com/demos/360/images/stars.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
   }
}
a {
   @apply hover:underline;
}

.fade {
   &-enter-active,
   &-leave-active {
      transition: opacity 0.5s ease;
   }
   &-enter-from,
   &-leave-to {
      opacity: 0;
   }
}
